# Зависимости
node_modules
.next
out
build

# Операционная система
.DS_Store

# СЕКРЕТНЫЕ ФАЙЛЫ (Никогда не попадут на GitHub)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local