@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* Эффект свечения для Агента-Викинга */
.agent-glow {
  filter: drop-shadow(0 0 15px rgba(249, 115, 22, 0.4));
}